@use "variables" as *;


.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.headerMenu a {
    padding: 0;
    border: 0;
    transition: 0.3s;
    &:hover {
        color: $cyan;
    }
     &:focus {
        color: $cyan;
    }
}

.buttonContainer a {
    background-color: $twilight;
    padding: 18px 36px;
    border: 2px solid $twilight;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $iceBlue;
        color: $twilight;
    }
     &:focus {
        background-color: $iceBlue;
        color: $twilight;
    }
}
