@use "variables" as *;

.blogMain {
    h1 {
        transform: translate(0px, -270px);
        margin-bottom: -155px;
    }
    .blogContent {
        display: flex;
        justify-content: space-between;
        article {
            width: 65%;
            transform: translate(0px, -80px);
            margin-bottom: -80px;
            .articleImg {
                margin-right: 16px;
                img {
                    box-shadow: 23px 23px 0px -7px $cyan;
                }
             }
             .border {
                border-right: 5px solid $cyan;
                border-bottom: 5px solid $cyan;
                .articleText {
                    padding-left: 50px;
                    padding-top: 50px;
                    padding-bottom: 30px;
                    h2 {
                        line-height: 15px;
                    }
                    h3 {
                        font-size: 1rem;
                        color: $twilight;
                        font-style: italic;
                        font-weight: normal;
                        span {
                            font-weight: bold;
                        }
                    }
                }
            } 
        }
        aside {
            width: 40%;
            padding-left: 7%;
            padding-top: 7%;
            max-width: 450px;
            h3 {
                color: $twilight;
            }
            .ourMission {
                a {
                    color: $spruce;
                    font-weight: bold;
                    &:hover {
                    color: $cyan;
                    }
                    &:focus {
                    color: $cyan;
                    }
                }
                 p {
                    margin-right: 5px;
                }
            }
            .recentPosts {
                h3 {
                    margin-bottom: 15px;
                }
                ul {
                    padding-left: 20px;
                    a {
                        color: $black;
                        font-weight: normal;
                        font-size: 1rem;
                        line-height: 32px;
                        letter-spacing: 2px;
                        &::before {
                        content: "•"; color: $cyan;
                        }
                        &:hover {
                            color: $cyan;
                        }
                        &:focus {
                            color: $cyan;
                        }
                    }
                }
            }
        }
    }
}

.comments {
    display: flex;
    flex-wrap: wrap;
    .commentSection {
        flex-basis: 60%;
        h2 {
            color: $black;
            letter-spacing: 2px;
        }
        .commentBox {
            display: flex;
            margin: 30px 0px;
            .commentImgContainer {
                flex-basis: 17%;
                img {
                    width: 94px;
                }
            }
            .commentTextContainer {
                flex-basis: 83%;
                h3 {
                    font-size: 1rem;
                    color: $twilight;
                    margin: 0px;
                }
            }
        }
        .secondComment {
            margin-top: 70px;
        }
    }
    .fillForm {
        box-shadow: none;
        padding: 0px;
        transform: translate(0px, 0px);
        margin-bottom: 70px;
    }
}