@use "variables" as *;

header {
    background-image: url(../assets/home-image-1.jpg);
    // ^HOMEPAGE index.html
    background-position: top center;
    background-size: cover;
    // height: 100%;
    min-height: 78vh;
    position: relative;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 0;

        .logo {
            transition: 0.3s;
            &:hover {
            color: $iceBlue;
            }
            &:focus {
            color: $iceBlue;
            }
        }

        .headerMenu {
            display: flex;
            
            li {
            padding: 0 30px;
            }
        }
    }
}

.headerImgContainer {
        img {
            position: absolute;
            bottom: -125px;
            max-width: 45%;
            max-height: 600px;
      }
    }
    .headerTextContainer {
        h1 {
            position: absolute;
            left: 36%;
            bottom: 120px;
        }
        h4 {
            position: absolute;
            left: 37%;
            bottom: 220px;
        }
    }

    .blog {
        background-image: url(../assets/blog-image-1.jpg);
        // ^BLOG blog.html
        background-position: top center;
        background-size: cover;
        height: 45vh;
        position: relative;
    }
