@use "variables" as *;

header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    height: 65vh;
    position: relative;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 0;

        .headerMenu {
            display: flex;
            
            li {
                margin-left: 50px;
            }
        }
    }

    .headerImgContainer {
            // position: relative;
            img {
                width: 43%;
                max-width: 550px;
                position: absolute;
                top: 200px;
            }
        }
        .headerTextContainer {
            h1 {
                position: absolute;
                left: 30%;
                // right: 100px;
                bottom: 70px;
            }
            h4 {
                position: absolute;
                left: 31%;
                bottom: 180px;
            }
        }
    }

