@use "variables" as *;

header {
    background-image: url(../assets/home-image-1.jpg);
    // ^HOMEPAGE index.html
    background-position: top center;
    background-size: cover;
    min-height: 78vh;
    position: relative;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 0;
        .logo {
            transition: 0.3s;
            &:hover {
            color: $iceBlue;
            }
            &:focus {
            color: $iceBlue;
            }
        }
        .headerMenu {
            display: flex;  
            li {
            padding: 0 0 0 50px;
            }
            .highlight {
                color: $cyan;
            }
        }
    }   
}
.headerImgContainer {
        img {
            position: absolute;
            bottom: -125px;
            max-width: 45%;
            max-height: 600px;
      }
    }
.headerTextContainer {
    h1 {
        position: absolute;
        left: 34%;
        bottom: 120px;
    }
    h4 {
        position: absolute;
        left: 35%;
        bottom: 220px;
    }
}

// HAMBURGER MENU STYLES
 .navButton {
        display: none;
    }

.slideOutNav {
    // background-color: rgba(6, 57, 116, 0.36);
    // background-color: $twilight;
    width: 100%;
    // max-width: 506px; 
    height: 100vh;
    position: fixed;
    top: 0;
    left: -3000px;
    .hamburgerButton {
        display: flex;
        justify-content: flex-end;
    }
    ul {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 35px 50px;  
        li {
            a {
                transition: 0.3s;
                &:hover {
                color: $cyan;
                }
                &:focus {
                color: $cyan;
                }
            }
        }   
    }  
}

.slideOutNavOpen {
    left: 0px;
}
// ^ this class will be added later with JS 

// BLOG
.blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-position: top center;
    background-size: cover;
    min-height: 50vh;
}

// GET IN TOUCH/CONTACT
.contact {
    background-image: url(../assets/contact-image-1.jpg);
    background-position: top center;
    background-size: cover;
    min-height: 50vh;
}
