@use "variables" as *;

// Section 1: VISIT
.visit {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 150px auto 100px auto;

        .visitTextContainer {
            flex-basis: 65%;

            .buttonContainer {
                margin: 40px auto;
            }
        }

        .visitImgContainer {
            img {
                box-shadow: -18px 17px 0px 0px $cyan;
                -webkit-box-shadow: -18px 17px 0px 0px $cyan;
                -moz-box-shadow: -18px 17px 0px 0px $cyan;
            }
        }
    }   
} 

// Section 2: GALLERY
.gallery {
    background-color: $lightBlue;

    .galleryContainer {
        display: flex;
        justify-content: center;
        
        ul {
            display: flex;
            padding-left: 0; 
            margin: 80px auto;
            li {
                margin: 0 20px;
            }
        }
    }
}

// Section 3: MAIN NAV
.mainNav {
    margin: 80px auto;
    .wrapper {
        display: flex;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
                justify-content: baseline;
                width: calc(50% - 17px);
                margin: 15px 17px 15px 0px;

                .mainNavIcon {
                    margin-right: 15px;
                }

                h3 {
                    margin: 0px;
                    display: inline-block;
                    transition: 0.2s;
                    &:hover {
                        color: $cyan;
                    }
                    &:focus {
                        color: $cyan;
                    }
                }
            }
        }
    }
}
// Section 4: ARTICLES
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px 0 0;
    background-color: $lightBlue;

    .planAhead {
        display: flex;

        .articleImgContainer {
            width: 50%;
            position: relative;
            img {
                max-width: 85%;
                position: absolute;
                left: 0;
                bottom: 50px;         
                box-shadow: 32px 32px 0px -13px $cyan;
            }
        }
        .articleTextContainer {
            width: 50%;
            align-self: center;
            padding: 5% 8% 3% 7%;
            h2 {
                line-height: 10px;
            }
            .buttonContainer {
                margin-top: 8%;
            }
        }
    }
   
    .newLocations {
        display: flex;
        flex-direction: row-reverse;

        .articleImgContainer {
            width: 50%;
            position: relative;
            
            img {
                max-width: 85%;
                position: absolute;
                top: 40px;
                right: 0;
                box-shadow: -29px 29px 0px -10px $cyan;
            }
        }

        .articleTextContainer {
            width: 50%;
            text-align: right;
            align-self: center;
            padding: 3% 6% 5% 8%;
             h2 {
                line-height: 10px;
            }
            .buttonContainer {
                margin-top: 8%;
            }
        }
    }
}

// Section 5: BANNER
.banner {
    img {
        width: 100vw;
    }
}

// Section 6: FREE TRIP
.freeTrip {
    .wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 90px auto 120px auto;
        h2 {
            margin-bottom: 0px;
        }
        p {
            margin: 1% 15% 3% 15%;
        }
        .buttonContainer {
            margin-top: 10px;
        }
    }
}

