@use "variables" as *;

// LAPTOP 992px //
@media (max-width: 992px) {
// HEADER NAV + HAMBURGER MENU
    header {
        .wrapper {
            .headerMenu {
               display: none;  
            }  
            .hamburgerButton {
                display: block;
            }
        }
        .slideOutNav {
            display: block;
        }
    }
}

// TABLET 768px
@media (max-width: 768px) {
    .wrapper {
        max-width: 1080px;
        width: 90%;
    }
}

// MOBILE 480px
@media (max-width: 480px) {
    .wrapper {
        max-width: 768px;
        width: 95%;
    }
}