html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-weight: light;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-BlackItalic.ttf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-weight: bold;
}

h1, .logo, .buttonContainer {
  font-family: "Playfair Display";
}

h1 {
  font-size: 5.56rem;
  color: #063974;
}

h2 {
  font-size: 1.75rem;
  line-height: 58px;
  letter-spacing: 3.8px;
  color: #0c5f4c;
}

.articles h2 {
  color: #063974;
}

h3 {
  font-size: 1.5rem;
  color: #0c5f4c;
}

h4 {
  font-size: 3.1rem;
  line-height: 58px;
  letter-spacing: 6.7px;
  color: #0c5f4c;
}

.logo {
  font-size: 1.73rem;
  color: #50E3C2;
}

.headerMenu {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
}

p {
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 2px;
  color: #2C2C2C;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FAFFFE;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

svg {
  color: #FAFFFE;
  background-color: #50E3C2;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

footer p {
  color: #FAFFFE;
}

.blog h1, .contact h1 {
  font-family: "Lato";
  color: #FAFFFE;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
  padding-top: 50px;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.headerMenu a {
  padding: 0;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.headerMenu a:hover {
  color: #50E3C2;
}
.headerMenu a:focus {
  color: #50E3C2;
}

.buttonContainer a {
  background-color: #063974;
  padding: 18px 36px;
  border: 2px solid #063974;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttonContainer a:hover {
  background-color: #FAFFFE;
  color: #063974;
}
.buttonContainer a:focus {
  background-color: #FAFFFE;
  color: #063974;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 78vh;
  position: relative;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 20px 0;
}
header .wrapper .logo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper .logo:hover {
  color: #FAFFFE;
}
header .wrapper .logo:focus {
  color: #FAFFFE;
}
header .wrapper .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper .headerMenu li {
  padding: 0 0 0 50px;
}

.headerImgContainer img {
  position: absolute;
  bottom: -125px;
  max-width: 45%;
  max-height: 600px;
}

.headerTextContainer h1 {
  position: absolute;
  left: 36%;
  bottom: 120px;
}
.headerTextContainer h4 {
  position: absolute;
  left: 37%;
  bottom: 220px;
}

.blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 50vh;
}

.contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 50vh;
}

.visit .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px auto 100px auto;
}
.visit .wrapper .visitTextContainer {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.visit .wrapper .visitTextContainer .buttonContainer {
  margin: 40px auto;
}
.visit .wrapper .visitImgContainer img {
  box-shadow: -18px 17px 0px 0px #50E3C2;
  -webkit-box-shadow: -18px 17px 0px 0px #50E3C2;
  -moz-box-shadow: -18px 17px 0px 0px #50E3C2;
}

.gallery {
  background-color: #D2F9F1;
}
.gallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .galleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 80px auto;
}
.gallery .galleryContainer ul li {
  margin: 0 20px;
}

.mainNav {
  margin: 80px auto;
}
.mainNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainNav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainNav .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: calc(50% - 17px);
  margin: 15px 17px 15px 0px;
}
.mainNav .wrapper ul li .mainNavIcon {
  margin-right: 15px;
}
.mainNav .wrapper ul li h3 {
  margin: 0px;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.mainNav .wrapper ul li h3:hover {
  color: #50E3C2;
}
.mainNav .wrapper ul li h3:focus {
  color: #50E3C2;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px 0 0;
  background-color: #D2F9F1;
}
.articles .planAhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.articles .planAhead .articleImgContainer {
  width: 50%;
  position: relative;
}
.articles .planAhead .articleImgContainer img {
  max-width: 85%;
  position: absolute;
  left: 0;
  bottom: 50px;
  box-shadow: 32px 32px 0px -13px #50E3C2;
  -webkit-box-shadow: 32px 32px 0px -13px #50E3C2;
  -moz-box-shadow: 32px 32px 0px -13px #50E3C2;
}
.articles .planAhead .articleTextContainer {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5% 8% 3% 7%;
}
.articles .planAhead .articleTextContainer h2 {
  line-height: 10px;
}
.articles .planAhead .articleTextContainer .buttonContainer {
  margin-top: 8%;
}
.articles .newLocations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.articles .newLocations .articleImgContainer {
  width: 50%;
  position: relative;
}
.articles .newLocations .articleImgContainer img {
  max-width: 85%;
  position: absolute;
  top: 40px;
  right: 0;
  box-shadow: -29px 29px 0px -10px #50E3C2;
  -webkit-box-shadow: -29px 29px 0px -10px #50E3C2;
  -moz-box-shadow: -29px 29px 0px -10px #50E3C2;
}
.articles .newLocations .articleTextContainer {
  width: 50%;
  text-align: right;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 3% 6% 5% 8%;
}
.articles .newLocations .articleTextContainer h2 {
  line-height: 10px;
}
.articles .newLocations .articleTextContainer .buttonContainer {
  margin-top: 8%;
}

.banner img {
  width: 100vw;
}

.freeTrip .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 90px auto 120px auto;
}
.freeTrip .wrapper h2 {
  margin-bottom: 0px;
}
.freeTrip .wrapper p {
  margin: 1% 15% 3% 15%;
}
.freeTrip .wrapper .buttonContainer {
  margin-top: 10px;
}

footer {
  background-color: #2C2C2C;
}
footer p {
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
}