@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-weight: light;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-BlackItalic.ttf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-weight: bold;
}

h1, .logo, .buttonContainer {
  font-family: "Playfair Display";
}

h1 {
  font-size: 5.56rem;
  color: #063974;
}

h2 {
  font-size: 1.75rem;
  line-height: 58px;
  letter-spacing: 3.8px;
  color: #0c5f4c;
}

.articles h2 {
  color: #063974;
}

h3 {
  font-size: 1.5rem;
  color: #0c5f4c;
}

h4 {
  font-size: 3.1rem;
  line-height: 58px;
  letter-spacing: 6.7px;
  color: #0c5f4c;
}

.logo {
  font-size: 1.73rem;
  color: #50E3C2;
}

.headerMenu {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
}

p {
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 2px;
  color: #2C2C2C;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FAFFFE;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

svg {
  color: #FAFFFE;
  background-color: #50E3C2;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

footer p {
  color: #FAFFFE;
}

.blog h1, .contact h1 {
  font-family: "Lato";
  color: #FAFFFE;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
}

.blog h1, .contact h1 {
  padding-top: 50px;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.headerMenu a {
  padding: 0;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.headerMenu a:hover {
  color: #50E3C2;
}
.headerMenu a:focus {
  color: #50E3C2;
}

.buttonContainer a {
  background-color: #063974;
  padding: 18px 36px;
  border: 2px solid #063974;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttonContainer a:hover {
  background-color: #FAFFFE;
  color: #063974;
}
.buttonContainer a:focus {
  background-color: #FAFFFE;
  color: #063974;
}

.hamburgerButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hamburgerButton button svg {
  background: transparent;
  color: #FAFFFE;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hamburgerButton button svg:hover {
  color: #50E3C2;
}
.hamburgerButton button svg:focus {
  color: #50E3C2;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 78vh;
  position: relative;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 20px 0;
}
header .wrapper .logo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper .logo:hover {
  color: #FAFFFE;
}
header .wrapper .logo:focus {
  color: #FAFFFE;
}
header .wrapper .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper .headerMenu li {
  padding: 0 0 0 50px;
}
header .wrapper .headerMenu .highlight {
  color: #50E3C2;
}

.headerImgContainer img {
  position: absolute;
  bottom: -125px;
  max-width: 45%;
  max-height: 600px;
}

.headerTextContainer h1 {
  position: absolute;
  left: 34%;
  bottom: 120px;
}
.headerTextContainer h4 {
  position: absolute;
  left: 35%;
  bottom: 220px;
}

.navButton {
  display: none;
}

.slideOutNav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -3000px;
}
.slideOutNav .hamburgerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slideOutNav ul {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 35px 50px;
}
.slideOutNav ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slideOutNav ul li a:hover {
  color: #50E3C2;
}
.slideOutNav ul li a:focus {
  color: #50E3C2;
}

.slideOutNavOpen {
  left: 0px;
}

.blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 50vh;
}

.contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 50vh;
}

.visit .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px auto 100px auto;
}
.visit .wrapper .visitTextContainer {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.visit .wrapper .visitTextContainer .buttonContainer {
  margin: 40px auto;
}
.visit .wrapper .visitImgContainer img {
  -webkit-box-shadow: -18px 17px 0px 0px #50E3C2;
          box-shadow: -18px 17px 0px 0px #50E3C2;
}

.gallery {
  background-color: #D2F9F1;
}
.gallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .galleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 80px auto;
}
.gallery .galleryContainer ul li {
  margin: 0 20px;
}

.mainNav {
  margin: 80px auto;
}
.mainNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainNav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainNav .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: calc(50% - 17px);
  margin: 15px 17px 15px 0px;
}
.mainNav .wrapper ul li .mainNavIcon {
  margin-right: 15px;
}
.mainNav .wrapper ul li h3 {
  margin: 0px;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.mainNav .wrapper ul li h3:hover {
  color: #50E3C2;
}
.mainNav .wrapper ul li h3:focus {
  color: #50E3C2;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px 0 0;
  background-color: #D2F9F1;
}
.articles .planAhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.articles .planAhead .articleImgContainer {
  width: 50%;
  position: relative;
}
.articles .planAhead .articleImgContainer img {
  max-width: 85%;
  position: absolute;
  left: 0;
  bottom: 50px;
  -webkit-box-shadow: 32px 32px 0px -13px #50E3C2;
          box-shadow: 32px 32px 0px -13px #50E3C2;
}
.articles .planAhead .articleTextContainer {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5% 8% 3% 7%;
}
.articles .planAhead .articleTextContainer h2 {
  line-height: 10px;
}
.articles .planAhead .articleTextContainer .buttonContainer {
  margin-top: 8%;
}
.articles .newLocations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.articles .newLocations .articleImgContainer {
  width: 50%;
  position: relative;
}
.articles .newLocations .articleImgContainer img {
  max-width: 85%;
  position: absolute;
  top: 40px;
  right: 0;
  -webkit-box-shadow: -29px 29px 0px -10px #50E3C2;
          box-shadow: -29px 29px 0px -10px #50E3C2;
}
.articles .newLocations .articleTextContainer {
  width: 50%;
  text-align: right;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 3% 6% 5% 8%;
}
.articles .newLocations .articleTextContainer h2 {
  line-height: 10px;
}
.articles .newLocations .articleTextContainer .buttonContainer {
  margin-top: 8%;
}

.banner img {
  width: 100vw;
}

.freeTrip .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 90px auto 120px auto;
}
.freeTrip .wrapper h2 {
  margin-bottom: 0px;
}
.freeTrip .wrapper p {
  margin: 1% 15% 3% 15%;
}
.freeTrip .wrapper .buttonContainer {
  margin-top: 10px;
}

footer {
  background-color: #2C2C2C;
}
footer p {
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
}
footer p span {
  font-size: 0.6rem;
}

.blogMain .blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMain .blogContent article {
  width: 65%;
  -webkit-transform: translate(0px, -90px);
          transform: translate(0px, -90px);
  margin-bottom: -90px;
}
.blogMain .blogContent article .articleImg {
  margin-right: 16px;
}
.blogMain .blogContent article .articleImg img {
  -webkit-box-shadow: 23px 23px 0px -7px #50E3C2;
          box-shadow: 23px 23px 0px -7px #50E3C2;
}
.blogMain .blogContent article .border {
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
}
.blogMain .blogContent article .border .articleText {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.blogMain .blogContent article .border .articleText h2 {
  line-height: 15px;
}
.blogMain .blogContent article .border .articleText h3 {
  font-size: 1rem;
  color: #063974;
  font-style: italic;
  font-weight: normal;
}
.blogMain .blogContent article .border .articleText h3 span {
  font-weight: bold;
}
.blogMain .blogContent aside {
  width: 40%;
  padding-left: 7%;
  padding-top: 7%;
  max-width: 450px;
}
.blogMain .blogContent aside h3 {
  color: #063974;
}
.blogMain .blogContent aside .ourMission a {
  color: #0c5f4c;
  font-weight: bold;
}
.blogMain .blogContent aside .ourMission a:hover {
  color: #50E3C2;
}
.blogMain .blogContent aside .ourMission a:focus {
  color: #50E3C2;
}
.blogMain .blogContent aside .ourMission p {
  margin-right: 5px;
}
.blogMain .blogContent aside .recentPosts h3 {
  margin-bottom: 15px;
}
.blogMain .blogContent aside .recentPosts ul {
  padding-left: 20px;
}
.blogMain .blogContent aside .recentPosts ul a {
  color: #2C2C2C;
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.blogMain .blogContent aside .recentPosts ul a::before {
  content: "•";
  color: #50E3C2;
}
.blogMain .blogContent aside .recentPosts ul a:hover {
  color: #50E3C2;
}
.blogMain .blogContent aside .recentPosts ul a:focus {
  color: #50E3C2;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.comments .commentSection {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.comments .commentSection h2 {
  color: #2C2C2C;
  letter-spacing: 2px;
}
.comments .commentSection .commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px;
}
.comments .commentSection .commentBox .commentImgContainer {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
}
.comments .commentSection .commentBox .commentImgContainer img {
  width: 94px;
}
.comments .commentSection .commentBox .commentTextContainer {
  -ms-flex-preferred-size: 83%;
      flex-basis: 83%;
}
.comments .commentSection .commentBox .commentTextContainer h3 {
  font-size: 1rem;
  color: #063974;
  margin: 0px;
}
.comments .commentSection .secondComment {
  margin-top: 70px;
}
.comments .fillForm {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  margin-bottom: 70px;
}

.contactMain {
  background-color: #FAFFFE;
}
.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0px, -110px);
          transform: translate(0px, -110px);
  width: 90%;
}

.fillForm {
  background-color: #FAFFFE;
  padding: 60px 60px 0px 60px;
  margin: 0px;
  text-align: center;
  -webkit-box-shadow: 20px 20px 0px -4px #50E3C2;
          box-shadow: 20px 20px 0px -4px #50E3C2;
}
.fillForm .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fillForm .nameEmail input[type=text], .fillForm .nameEmail input[type=email] {
  height: 50px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 30px 25px;
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .nameEmail input[type=text]::-webkit-input-placeholder, .fillForm .nameEmail input[type=email]::-webkit-input-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .nameEmail input[type=text]::-moz-placeholder, .fillForm .nameEmail input[type=email]::-moz-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .nameEmail input[type=text]:-ms-input-placeholder, .fillForm .nameEmail input[type=email]:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .nameEmail input[type=text]::-ms-input-placeholder, .fillForm .nameEmail input[type=email]::-ms-input-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .nameEmail input[type=text]::placeholder, .fillForm .nameEmail input[type=email]::placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .nameEmail input[type=text]:focus, .fillForm .nameEmail input[type=email]:focus {
  outline: none;
}
.fillForm .nameEmail input[type=text] {
  margin-right: 10px;
}
.fillForm .nameEmail input[type=email] {
  margin-left: 10px;
}
.fillForm .message textarea {
  resize: none;
  border: none;
  width: 100%;
  border: 2px solid #50E3C2;
  padding: 30px 25px;
  margin-top: 50px;
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .message textarea::-webkit-input-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .message textarea::-moz-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .message textarea:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .message textarea::-ms-input-placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .message textarea::placeholder {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.fillForm .message textarea:focus {
  outline: none;
}
.fillForm button {
  color: #FAFFFE;
  background-color: #063974;
  padding: 8px 0;
  margin: 50px 0;
  border: 2px solid #063974;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fillForm button:hover {
  background-color: #FAFFFE;
  color: #063974;
}
.fillForm button:focus {
  background-color: #FAFFFE;
  color: #063974;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0 20px 0;
  margin-top: 150px;
  margin-left: 50px;
}
.contactInfo .email p {
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0px;
}
.contactInfo .email p:hover {
  color: #50E3C2;
}
.contactInfo .email p:focus {
  color: #50E3C2;
}
.contactInfo .contactText p {
  margin: 0px;
}

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.socialMedia ul li {
  padding-right: 20px;
}
.socialMedia ul li a {
  color: #2C2C2C;
}
.socialMedia ul li a:hover {
  color: #50E3C2;
}
.socialMedia ul li a:focus {
  color: #50E3C2;
}

@media (max-width: 992px) {
  header .wrapper .headerMenu {
    display: none;
  }
  header .wrapper .hamburgerButton {
    display: block;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 1080px;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 768px;
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .homeHeader {
    min-height: 60vh;
  }
  .homeHeader .headerTextContainer h1 {
    left: 20%;
    bottom: 100px;
  }
  .homeHeader .headerTextContainer h4 {
    left: 21%;
    bottom: 200px;
  }
  .visitTextContainer p {
    margin-right: 50px;
  }
}
@media (max-width: 992px) {
  .homeHeader .wrapper, .homeMain .wrapper {
    width: 90%;
  }
  .homeHeader {
    min-height: 48vh;
  }
  .homeHeader .headerImgContainer {
    display: none;
  }
  .homeHeader .headerTextContainer {
    padding-top: 13%;
  }
  .homeHeader .headerTextContainer h1, .homeHeader .headerTextContainer h4 {
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .homeHeader .headerTextContainer h1 {
    font-size: clamp(5rem, 6vw, 5.56rem);
  }
  .homeMain .visit .wrapper {
    margin: 0 auto;
  }
  .homeMain .gallery .galleryContainer ul {
    margin: 25px auto;
  }
  .homeMain .mainNav {
    margin: 30px auto;
  }
  .homeMain .mainNav .wrapper ul {
    padding-left: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .homeHeader {
    min-height: 45vh;
  }
  .homeHeader .headerTextContainer h1 {
    font-size: 13vw;
  }
  .homeHeader .headerTextContainer h4 {
    font-size: 8.1vw;
  }
  .homeMain .visit .wrapper .visitImgContainer {
    display: none;
  }
  .homeMain .visit .wrapper .visitTextContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .homeMain .visit .wrapper .visitTextContainer p {
    margin-right: 0px;
  }
  .homeMain .gallery {
    background-color: #FAFFFE;
  }
  .homeMain .gallery .wrapper {
    width: 100%;
  }
  .homeMain .gallery .galleryContainer .image3 {
    display: none;
  }
  .homeMain .gallery .galleryContainer ul {
    margin: 0px auto;
  }
  .homeMain .gallery .galleryContainer ul li {
    margin: 0 auto;
  }
  .homeMain .mainNav {
    margin-bottom: -50px;
  }
  .homeMain .mainNav .wrapper ul li {
    width: auto;
    margin: 0 auto;
  }
  .homeMain .articles .planAhead, .homeMain .articles .newLocations {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .homeMain .articles .planAhead .articleImgContainer, .homeMain .articles .newLocations .articleImgContainer {
    width: auto;
    position: static;
  }
  .homeMain .articles .planAhead .articleImgContainer img, .homeMain .articles .newLocations .articleImgContainer img {
    position: static;
  }
  .homeMain .articles .planAhead .articleTextContainer, .homeMain .articles .newLocations .articleTextContainer {
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
  }
  .homeMain .articles .newLocations .articleImgContainer img {
    -webkit-box-shadow: 32px 32px 0px -13px #50E3C2;
            box-shadow: 32px 32px 0px -13px #50E3C2;
  }
  .homeMain .freeTrip .wrapper {
    margin: 20px auto 60px auto;
  }
  .homeMain .freeTrip .wrapper p {
    margin: 1% 2% 5% 2%;
  }
}
@media (max-width: 480px) {
  .homeHeader {
    min-height: 40vh;
  }
  .homeHeader .headerTextContainer h1 {
    font-size: clamp(2.25rem, 2vw, 2.5rem);
  }
  .homeHeader .headerTextContainer h4 {
    font-size: 1.95rem;
  }
  .homeMain {
    font-size: 90%;
  }
  .homeMain .articles .articleTextContainer {
    text-align: center !important;
  }
}
@media (min-width: 1542px) {
  .blogMain .blogContent article img {
    width: 125%;
  }
  .blogMain .blogContent aside {
    max-width: 600px;
    padding-left: 9%;
  }
  .blogMain .blogContent aside img {
    width: 125%;
  }
}
@media (max-width: 1200px) {
  .comments {
    display: block;
  }
  .comments .fillForm {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .blog {
    min-height: 30vh;
  }
  .blogMain .blogContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogMain .blogContent article {
    width: 95%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    margin-bottom: 0px;
  }
  .blogMain .blogContent aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 920px;
    margin-bottom: 50px;
  }
  .blogMain .blogContent aside img {
    min-width: 35vw;
    -webkit-box-shadow: 14px 15px 0px 0px #50E3C2;
            box-shadow: 14px 15px 0px 0px #50E3C2;
  }
  .blogMain .blogContent aside .asideTextGroup {
    margin: 0px 19px 0px 50px;
  }
  .blogMain .blogContent aside .asideTextGroup h3 {
    margin: 0px;
  }
}
@media (max-width: 670px) {
  .blogMain .blogContent article {
    width: 100%;
  }
  .blogMain .blogContent article .border .articleText {
    padding-left: 10px;
    padding-top: 10px;
  }
  .blogMain .blogContent article .border .articleText h2 {
    line-height: 32px;
  }
  .blogMain .blogContent aside {
    margin-bottom: 15px;
  }
  .blogMain .blogContent aside .asideTextGroup {
    margin: 0px auto;
  }
  .blogMain .blogContent aside .asideImg {
    display: none;
  }
  .blogMain .articleText p, .blogMain .commentTextContainer p {
    font-size: 0.85rem;
    line-height: 25px;
    letter-spacing: 1.8px;
  }
  .blogMain .comments .commentBox .commentImgContainer {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .blogMain .comments .secondComment {
    margin-top: 30px;
  }
  .blogMain .comments .nameEmail {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogMain .comments .nameEmail input[type=text], .blogMain .comments .nameEmail input[type=email] {
    width: 100%;
    margin: 0px auto;
  }
}
@media (max-width: 1200px) {
  .fillForm {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .contactMain .wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contactMain .wrapper .fillForm .nameEmail {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactMain .wrapper .fillForm .nameEmail input[type=text], .contactMain .wrapper .fillForm .nameEmail input[type=email] {
    width: 100%;
    margin: 0px auto;
  }
  .contactMain .wrapper .fillForm .message textarea {
    margin-top: 20px;
    padding: 15px 25px;
  }
  .contactMain .wrapper .fillForm button {
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .contact h1 {
    line-height: 4.35rem;
    width: 100%;
    text-align: center;
    font-size: clamp(4rem, 5vw, 4.35rem);
    padding-bottom: 50px;
  }
  .contactMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactMain .wrapper .fillForm {
    width: 100%;
    padding: 30px 30px 0px 30px;
  }
  .contactMain .wrapper .fillForm .message textarea {
    margin-top: 40px;
    padding: 25px 25px;
  }
  .contactMain .wrapper .fillForm button {
    margin: 40px 0;
  }
  .contactMain .contactInfo {
    margin: 0px auto;
    padding: 40px 0 0 0;
    text-align: center;
  }
  .contactMain .contactInfo .socialMedia ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contactMain .contactInfo .socialMedia ul .fa-brands {
    font-size: 1.7rem;
  }
  .contactMain .contactInfo .email p, .contactMain .contactInfo .contactText p {
    font-size: 1.4rem;
    line-height: 45px;
  }
}